<nav class="navbar navbar-expand-lg navbar-light bg-danger">
    <div class="my-auto cuadro ">
        <a class="navbar-brand text-white" href="<%=root_path %>"><%=image_tag("bongout.png", class: " logo")%></a>
    </div>
    <div  class="ml-auto mr-2" >
        <% if user_signed_in? %>
          <% if @order.present? %>
            <%= link_to (cart_path(@order)) do %>
              <i class="fas fa-shopping-cart fa-2x text-light mr-2"></i><% end %>
          <% end %>
            <%= link_to (edit_user_registration_path) do %>
              <i class="fas fa-user-cog fa-2x text-light mr-2"></i><% end %>

            <%= link_to (destroy_user_session_path), method: :delete do %>
             <i class="fas fa-sign-out-alt fa-2x text-light mr-2"></i><% end %>
        <% else %>
            <%= link_to (new_user_session_path), method: :post do %>
              <i class="fas fa-sign-in-alt fa-2x text-light mr-2"></i><% end %>
            
            <%= link_to "Singn up", new_user_registration_path, class: "btn btn-danger text-light ml-auto"%>
        <% end %>
    </div>
</nav>